html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: 0;
  max-width: 1440px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  background-color: #F7F7F7;
  color: #333333;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}